.container {
    display: flex;
    flex-direction: column;
}

/* Header Styles */
header {
    background-color: #2B4074;
    color: #FFFFFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14.9vh;
    box-sizing: border-box; 
}

header img {
    width: 100px;
    height: 65.73px;
}

header button {
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    width: 40px;
    height: 40px;
}

/* Background Image Styles */
.background-image {
    background-image: url('../images/bg-img.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: inset 0 0 0 1000px #21212180;
    width: 100%; 
    height: 668px; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    position: relative;
}

/* Text Main Styles */
.textMain {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 5rem;
    letter-spacing: 2px;
    margin: 8% auto 18px auto;
    text-align: center;
    color: #FFFFFF;
    white-space: normal;
    text-transform: uppercase;
    height: 192px;
    width: 100%;
    position: relative;
    transform:scaleX(-0.3); 
    transform:scaleY(1.2);
    transform-origin: center;
}

/* Text Main Paragraph Styles */
.textMainParagraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    margin: 0 19.2% 28px 19.2%;
    text-align: center;
    color: #FFFFFF;
}

/* Button Main Styles */
.buttonMain {
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    background: #2B4074;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 20px auto 0px; 
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 123px;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.round-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid  #FFFFFF;
    margin: 20px auto 0px; 
    background-color: transparent;
}

.filled {
    background-color: #FFFFFF; /* Filled color */
}

.empty {
    background-color: transparent; /* Empty inside */
}

.promo-wrapper {
    background-color: #2B4074;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 14.9vh;
    box-sizing: border-box;
}

.promo{
    color: #FFFFFF;
    width: 100%;
    height: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14.9vh;
    box-sizing: border-box; 
    max-width: 1440px;
}

.promo-text-box {
    width: 796px;
    height: 78px;
}

.promo-buy-button{
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: #2B4074;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 20px; 
    font-weight: 500;
}

.promo-text-h{
    width: 557px;
    height: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin: 0 0 auto 0 ;
    color: #FFFFFF;
}
.promo-text-p{
    width: 450px;
    height: 42px;
    top: 36px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    color: #FFFFFF;
}


.arrows-container{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 70px;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.arrow-container:first-child {
    position: relative;
    width: 100%;
    
    height: 50%;
    background-color: #2B4074;
    align-items: center;
}
.arrow-container:last-child {
    position: relative;
    width: 100%;
    
    height: 50%;
    background-color:  #F9F6E5;
    
    align-items: center;
}

.arrow-part {
    position: absolute;
    
    width: 25.7%;
    height: 25.7%;
    background-color: rgb(58, 81, 122);
    transform: rotate(45deg);
}
.arrow-part-reverse {
    position: absolute;
    
    width: 25.7%;
    height: 25.7%;
    background-color:  #F9F6E5;

    transform: rotate(45deg);
}

.arrow-part:first-child {
    background-color: #FFFFFF;
    top: 37.15%;
    left: 41.15%;
}

.arrow-part:last-child {
    background-color: #2B4074;
    top: 37.15%;
    left: 49.15%;
}

.arrow-part-reverse:first-child {
    background-color: #02010181;
    
    
    top: 37.15%;
    left: 33.15%;
   
}

.arrow-part-reverse:last-child {
    background-color: #F9F6E5;
    top: 37.15%;
    left: 25.15%;
}

.services-wrapper{
    background-color: #FFFFFF;
    width: 100%;
    height: 546px;
    display: flex;
    justify-content:flex-start;
    box-sizing: border-box; 
}

.services-content{
    width: 35.8%;
    background-color: #FFFFFF;
}

.text-style-content-production {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    max-width: 80%;
    text-align: center;
    letter-spacing: 2px;
    
}

.text-style-content-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    max-width: 88%;
}

a.no-style {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
}

a.no-style:hover,
a.no-style:focus {
    text-decoration: none; /* Ensure no underline on hover or focus */
    color: inherit; /* Ensure color remains the same on hover or focus */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
}

.text-services-main-wrapper{
    width: 100%;
    height: 10.25%;
    margin-top: 16.48%;
    margin-left: 12%;
}
.text-services-main{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 56.25px;
    text-align: left;
    color: #2B4074;
    overflow:hidden;
}
.text-services-content-box{
    width: 393px;
    height: 278px;
    margin-left: calc((62 / 516 * 100) * 1%);
    margin-top: calc((134 / 546 * 100) * 1% - 16.48%);

}

.text-services-content-h2{

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #4A4A4A;
}

.text-services-content-p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #797979;
}

.stylistic-line {
    width: 98.74px ;
    height: 8px ;
    background-color: #2B4074;
    margin: 0 0;

}
.stylistic-line-white {
    width: 98.74px ;
    height: 8px ;
    background-color: #FFFFFF;
    margin: 0 0;

}

.recent-work-container{
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0.05) 100%);
    width: 100%;
    height: 618px;
    max-height: 618px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.recent-work-container-title{
    width: 100%;
    height: 13.6%;
    margin-top: 6.47%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0px 0.5px 0px 0px;
}



.recent-work-container-title-text{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 6.66vh;
    font-weight: 400;
    line-height: 56.25px;
    justify-self:flex-start;
    text-align: center;
    color: #FFFFFF;
}


.recent-work-container-content{
    width: 79.03%;
    height: 47.57%;
    margin-top: 6.47%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.recent-work-container-content-item{
    width: 23.55%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.recent-work-container-content-item-image{
    
    position: relative;
    width: 100%;
    height: 81.29%;
    border-radius: 5px;
    overflow: hidden;
}




.recent-work-container-content-item-text{
    position: relative;
    width: 100%;
    height: 8.8%;
}

.recent-work-container-content-item-image:hover::before,
.recent-work-container-content-item-image:hover::after {
    opacity: 1; /* Show on hover */
}

.recent-work-container-content-item-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #476E4D5A;    ;
    
    ;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.recent-work-container-content-item-image::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust size as needed */
    height: 90%; /* Adjust size as needed */
    /* Example background color */
    background-image: url('../images/recentWork.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: rgba(249, 246, 229, 0.83);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.image-style{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.recent-work-content-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    margin: 3px;
    color:  #2B4074;
    
}


.video-block-container{
    display: flex;
    background-color: #FFFFFF;
    height: 580px;
    
}

.video-block-image{
    border-radius: 5px;
    width: 31.9%;
    height: 72.41%;
    margin-top: 6.85%;
    margin-left: 10.4%;
}

.video-block-content{
    margin-top: 6.85%;
    margin-left: 6.94%;
    width: 35.13%;
    height: 72.41%;
}

.video-block-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 21.42%;
}
.video-block-text-h{
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: left;
    color: #4A4A4A;
    margin: 0;
    
}



.video-block-text{
    margin: 0;
    width: 100%;
    height: 61.8%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #9B9B9B;
    margin-top: 2.5%;
}

.video-block-button{
    background-color: #2B4074;
    border-radius: 5px;
    margin: 0;
    width: 45.5%;
    color: #F9F6E5;
    height: 14.28%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.last-news-container{
    height: 1144px;
    width: 100%;
    background-color: #F9F6E5;
    display: flex;
     flex-direction: column;
     align-items: center;
}

.last-news-title-wrapper{
    margin-top: 2.5%;
    height: 7.95%;
    width: 100%;
    display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     
}

.last-news-title-h{
    color: #4A4A4A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 56.25px;
    text-align: center;
    margin: 0;
}

.last-news-gallery-wrapper{
    margin-top: 9.02%;
    width: 80%;
    
    height: 68% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
     
}

.last-news-inner-imag-wrapper-column{
    
    display: flex;
    flex-direction: column;
    
}


  
.last-news-inner-image {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    margin-bottom: calc(8.4% + 40px);
    transition: transform 0.3s ease;
}

.last-news-inner-image::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: (100%-40px);
    background-color: transparent;
   
    transition: background-color 0.3s linear;
}

.last-news-inner-image:hover::before {
    
    
    background-color: #2B40744D;
}

.last-news-inner-image:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px; /* Adjust the size of the icon */
    height: 32px;
    background-image: url('../images/info button.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.last-news-inner-image img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    transition:  background-color 0.3s linear;
}

.last-news-inner-image-title{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 7.77% ;
    border-radius: 0 0 5px 5px ;
    padding-top: 4%;
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.last-news-inner-image:hover .last-news-inner-image-title {
    transform: translateY(-60px);
    border-radius: 5px ;
    background-color: #2B4074;
    color: #F9F6E5;
    
}

.last-news-inner-image:hover img {
    border-radius: 5px ;
    outline: 10px solid #2B4074;
    outline-offset: -10px;
    
}


.testtimonial-containter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFFFFF;
    width: 100%;
    height: 587px;
}

.testtimonial-quote-sign {
    font-family: FontAwesome;
    font-size: 50px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    width: 40px;
    height: 40px;
    color: #2B4074;
    margin-top: 5%;
}

.testtimonial-p{
    color: #4A4A4A;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 36px;
    padding: 0px 23% 0px 23% ;
    font-weight: 400;
    line-height: 42.19px;
    text-align: center;
}

.testtimonial-p .highlight{
    color: #2B4074;
    font-weight: 700;
}

.testtimonial-footer{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0px;
}



.round-button-reverse {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid  #2B4074;
    margin: 20px auto 0px; 
    background-color: transparent;
}

.filled-reverse {
    background-color: #2B4074; /* Filled color */
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2B4074;
    width: 100%;
    height: 639px;
}
